{{user-profile-form user=model userUpdated="userUpdated"}}

<div class="form margin--top">
  <div class="form-field form-field--separator"></div>
  <div class="form-field">
    <a class="btn">Sign out</a>
  </div>
</div>
