{{#if errors}}
  <div class="error-list {{if inline "error-list--inline"}} margin--{{margin}}">
  {{#each error in errors}}
    <div class="error-list-error">{{error.detail}}</div>
  {{/each}}
  </div>
{{/if}}
