<form class="form" {{action "createMembership" on="submit"}}>

  <table class="table margin--bottom">
    <thead>
      <tr>
        <td>Person</td>
        <td>Role</td>
      </tr>
    </thead>
    {{#each team.memberships as |membership|}}
      <tr>
        <td>
          {{membership.user.nickname}}
        </td>
        <td>
          {{membership.role}}
        </td>
      </tr>
    {{/each}}
  </table>

  <div class="form-field">
    <button type="submit" class="btn btn--primary">Add member</button>
  </div>

  {{#each error in errors}}
    <p>{{error.detail}}</p>
  {{/each}}
</form>
