<select {{action "updateMembership" on="change"}}>
  {{#each roles as |role|}}
    <option value="{{role.value}}" selected={{is-equal role.value selectedRole}}>{{role.caption}}</option>
  {{/each}}
</select>
