<div class="grid-2">
  <div class="item">
    {{input type="text" value=translation.msgid class="form-control"}}
  </div>
  <div class="item">
    {{input type="text" value=translation.string class="form-control"}}
  </div>
</div>
