<table class="table">
  <thead>
    <tr>
      <td style="width: 80px">Identifier</td>
      <td>Name</td>
      <td style="width: 150px">Translated</td>
    </tr>
  </thead>
  {{#each catalogs as |catalog|}}
    <tr>
      <td>
        {{catalog.locale}}
      </td>
      <td>
        {{#link-to 'locales.locale'
            project.owner.nickname 
            project.nickname
            branch
            catalog.locale}}{{catalog.name}}{{/link-to}}
      </td>
      <td>
        {{progress-bar-inline
            class="progress-bar progress-bar--inline"
            percent=catalog.percent_translated}}
        {{catalog.percent_translated}}%
      </td>
    </tr>
  {{/each}}
</table>
