.breadcrumb
  padding: $padding-box

  h1
    margin: 0
    font-size: 26px

    img
      height: 50px
      width: 50px
      vertical-align: middle
      margin-right: 15px

    a
      color: inherit
