.breadcrumb
  padding: $padding-box

  h1
    margin: 0
    font-size: 26px

    img
      height: 35px
      width: 35px
      vertical-align: middle
      margin-right: 15px

    a:not(.breadcrumb-avatar)
      color: inherit

      &:hover
        border-bottom: 2px dotted rgba(0, 0, 0, .25)
