.container
  width: 100%

  &-sidebar
    width: 260px
    float: left

  &-main
    float: left

  &-nav
    margin: 0
    padding: 0
    list-style: none

    a
      display: block
      padding: 8px 15px

      &:hover
        background-color: #efefef

  &-box
    border: 1px solid #ddd
    background: #fff
    padding: 5px
    margin: 4px 5px

    &--nav
      padding-right: 0
      padding-left: 0
      margin-left: 4px

    &--main
      padding: 30px
