$color-link: #097be8
$color-link-dark: #0d55cb
$color-border: #ccc
$color-text: #35474e
$color-white: #fff
$color-gray: #555
$color-focus: $color-link
$color-error: rgba(198, 63, 56, 1)
$color-error-dark: #c53929

$border-gray: 1px solid #d8d8d8
$border-darkgray: 1px solid #ddd
$border-grayhover: 1px solid #a0a0a0

$font-family: 'Roboto', arial, sans-serif
$font-size: 13px
$font-size-sm: 13px

$padding-box: 20px

$box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05)
$box-shadow-button: 0 1px 3px rgba(0,0,0,0.2)
