body
  -webkit-font-smoothing: antialiased
  background: #efefef
  color: $color-text
  font-family: $font-family
  font-size: $font-size

a
  text-decoration: none
  color: $color-link

.margin
  &--top
    margin-top: 20px !important

    &--sm
      margin-top: 5px !important

  &--bottom
    margin-bottom: 20px !important

.flush
  &--bottom
    margin-bottom: 0 !important

.bordered
  border: 1px solid #efefef
  padding: $padding-box

.avatar
  vertical-align: middle

  &--xs
    width: .95em
    height: .95em
    margin-right: 3px

b
  font-weight: bold

.inline
  display: inline-block

.color--inherit
  color: inherit
