.header
  @include clearfix()

  background: $color-white
  border-bottom: 1px solid $color-border
  padding: 20px

  &-main
    float: left

    &-logo
      font-weight: 300
      font-size: 16px

  &-aux
    float: right
