.header
  @include clearfix()
  background: $color-white
  border-bottom: 1px solid $color-border

  &-main
    float: left

    &-logo
      color: #666
      font-size: 16px
      position: absolute;

      img
        height: 30px
        vertical-align: middle
        width: 30px
        margin: -11px 10px -10px 0

  &-aux
    float: right
    margin: -8px 0
