.header
  @include clearfix()
  background: $color-white
  border-bottom: 1px solid $color-border

  &-main
    float: left

    &-logo
      color: #666
      font-size: 16px
      position: absolute

  &-aux
    float: right
    margin: -8px 0

  &-avatar
    height: 30px
    vertical-align: middle
    width: 30px
    margin: -11px 10px -10px 0

  &-inline
    display: inline-block
    margin-left: 15px

    a
      color: inherit

    &-avatar
      margin-right: 5px
