<h3>{{model.catalog.name}} ({{model.catalog.locale}})</h3>

{{error-list errors=errors}}

{{translation-table
    handleErrors="handleErrors"
    catalog=model.catalog
    translations=model.catalog.translations}}
