<h2>Translations</h2>
{{#each catalog in model.catalogs}}
  <h2>{{catalog.locale}}</h2>
  {{#each translation in catalog.translations}}
    {{translation-row translation=translation}}
  {{/each}}
{{/each}}
