.progress-bar
  background: #efefef
  border-radius: 2px
  display: inline-block
  height: .95em
  margin-right: 3px
  overflow: hidden
  vertical-align: middle
  width: 50px

  .progress-bar-fill
    height: 1em
    display: inline-block
    background: #3DD0AD
