<div class="header box">
  <div class="header-main">
    {{#link-to 'home' class="header-logo"}}Web Review{{/link-to}}
  </div>
  <div class="header-aux">
    {{#link-to 'new' }}New{{/link-to}}
    {{#link-to 'settings' }}Settings{{/link-to}}
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
