<div class="header">
  <div class="header-main">
    <div class="header-logo">Web Review</div>
  </div>
  <div class="header-aux">
  {{#link-to 'new' }}New{{/link-to}}
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
