<div class="header box">
  <div class="header-main">
    {{#link-to 'home' class="header-main-logo"}}<img class="header-avatar" src="/assets/logo_default.png">Web Review{{/link-to}}
  </div>
  <div class="header-aux">
    {{#link-to "new" class="btn"}}New{{/link-to}}
    {{me-button class="header-inline" user=model.me}}
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
