<div class="header box">
  <div class="header-main">
    {{#link-to 'home' class="header-main-logo"}}<img src="/assets/logo_default.png">Web Review{{/link-to}}
  </div>
  <div class="header-aux">
    {{#link-to "new" class="btn"}}New{{/link-to}}
    {{#link-to "settings" class="btn"}}Settings{{/link-to}}
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
