<div class="breadcrumb">
  <h1>Your projects</h1>
</div>
<div class="box">
  <table>
    {{#each project in model}}
      <tr>
        <td>{{#link-to 'project' project.owner.nickname project.nickname}}{{project.nickname}}{{/link-to}}</td>
      </tr>
    {{/each}}
  </table>
</div>
