<div class="breadcrumb">
  <h1>New project</h1>
</div>
<div class="box">
  {{project-new-form
      me=model.me
      project=model.project
      orgs=model.orgs
      owner_nickname=model.owner_nickname
      projectCreated="projectCreated"
  }}
</div>
