<div class="breadcrumb">
  <h1>New project</h1>
</div>
<div class="box">
  {{project-new-form
      me=model.me
      project=model.project
      owners=model.owners
      projectCreated="projectCreated"
  }}
</div>
