<div class="container">
  <div class="container-sidebar">
    <div class="container-box container-box--nav">
      <ul class="container-nav">
        <li>{{#link-to 'project' model.owner.nickname model.nickname}}Builds{{/link-to}}</li>
        <li>{{#link-to 'project.content' model.owner.nickname model.nickname}}Content{{/link-to}}</li>
        <li>{{#link-to 'translations.index' model.owner.nickname model.nickname}}Translations{{/link-to}}</li>
        <li>{{#link-to 'project.team' model.owner.nickname model.nickname}}Team{{/link-to}}</li>
        <li>{{#link-to 'project.settings' model.owner.nickname model.nickname}}Settings{{/link-to}}</li>
      </ul>
    </div>
  </div>
  <div class="container-main">
    <div class="container-box container-box--main">
      {{outlet}}
    </div>
  </div>
</div>
