<div class="breadcrumb">
  <h1>Settings</h1>
</div>
<div class="container">
  <div class="container-sidebar">
    <div class="container-box container-box--nav">
      <ul class="container-nav">
        <li>{{#link-to 'settings.index'}}Profile{{/link-to}}</li>
        <li>{{#link-to 'settings.orgs'}}Organizations{{/link-to}}</li>
      </ul>
    </div>
  </div>
  <div class="container-main">
    <div class="container-box container-box--main">
      {{outlet}}
    </div>
  </div>
</div>
