<h2>Translations</h2>

<div class="form">
  <div class="form-field margin--bottom">
    {{branch-select
        selectBranch="selectBranch"
        branches=model.branches}}
  </div>
</div>

{{outlet}}
